<div class="rounded-md shadow bg-white/60 dark:bg-midnight/60 mb-4">
  <div class="px-3 py-2">
    <div class="flex justify-between items-center mb-1 w-full">
      <h2 class="text-2xl text-black dark:text-white">
        {{ translation.term }}
      </h2>

      <a href="#" [title]="'More about ' + translation.term" class="text-blue">
        <fa-icon [icon]="faLink"></fa-icon>
      </a>
    </div>

    <div class="text-darkgray dark:text-lightgray">
      <p>
        {{ translation.description}}
      </p>

      <div class="p-0" *ngIf="expanded">
        <p>More ....</p>
      </div>
    </div>

    <button (click)="expanded = !expanded" class="text-darkgray dark:text-lightgray">
      <span class="sr-only">More</span>
      <fa-icon [icon]="faEllipsis"></fa-icon>
    </button>
  </div>

  <hr class="border-lightgray dark:border-darkgray/60">

  <div class="p-2 lg:p-3 flex justify-between">
    <ul class="flex text-sm text-blue">
      <li class="mr-1">ID {{ translation.id }}</li>
      <li class="mr-1">/</li>
      <li>
        <a href="#" [title]="'Read more in ' + translation.collection.name" class="underline">
          {{ translation.collection.name }}
        </a>
      </li>
    </ul>

    <div *ngIf="translation.similarity" class="text-sm flex items-center dark:text-lightgray">
      {{ translation.similarity }}
      <div [ngClass]="getSimilarityColor() + ' rounded-full w-4 h-4 ml-1 lg:ml-2'"></div>
    </div>
  </div>
</div>
