:host {
  form.disabled {
    background-color: #c3d3e6!important;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .rounded-corners {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}
