<div
  [ngClass]="onHomeScreen ? 'shadow-xl bg-white' : 'shadow bg-white/60'"
  class="rounded-lg dark:bg-midnight/70">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" [ngClass]="{'lg:flex lg:items-center': shrink}">
    <div [ngClass]="onHomeScreen ? 'py-4' : 'py-2'">
    <language-picker
      class="shrink-0"
      [selectedLangCode]="form.value.sourceLanguage"
      (change)="onLanguageChange($event)"></language-picker>
    </div>

    <input type="hidden" formControlName="sourceLanguage">

    <hr class="border-lightgray dark:border-darkgray/60" [ngClass]="{'lg:hidden': shrink}">

    <div [ngClass]="{'flex items-center pr-4 py-2': !onHomeScreen}" class="flex-1">
      <div [ngClass]="{'mb-4 py-4': onHomeScreen}" class="flex-1">
        <input
          #input
          id="headword"
          type="text"
          formControlName="headword"
          [ngClass]="{'lg:pl-0 lg:pr-3 lg:text-2xl': shrink}"
          class="bg-transparent dark:text-white w-full focus:border-0 focus:outline-none focus-visible:outline-none text-2xl px-6">
      </div>

      <div class="flex justify-end p-2">
        <button *ngIf="!onHomeScreen && !!form.value.headword" type="button" class="text-lightgray dark:text-darkgray" (click)="clear()">
          <span class="sr-only">Clear search</span>
          <fa-icon class="ml-4" [icon]="faTimes"></fa-icon>
        </button>

        <button
          type="submit"
          [disabled]="!form.value.headword || !form.value.sourceLanguage"
          [ngClass]="onHomeScreen ? 'px-6 py-3 rounded-lg bg-blue text-white text-sm uppercase disabled:bg-lightgray/25 disabled:text-lightgray disabled:cursor-not-allowed focus:shadow-lg' : 'text-blue disabled:text-lightgray disabled:cursor-not-allowed'">
          <span *ngIf="onHomeScreen">Search</span>
          <fa-icon class="ml-4" [icon]="faSearch"></fa-icon>
        </button>
      </div>
    </div>
  </form>
</div>
